In [1]:
import pandas as pd
df=pd.read_excel('sample_pivot.xlsx')

In [2]:
df.head()

        Date Region                 Type  Units  Sales
0 2020-07-11   East  Children's Clothing   18.0    306
1 2020-09-23  North  Children's Clothing   14.0    448
2 2020-04-02  South     Women's Clothing   17.0    425
3 2020-02-28   East  Children's Clothing   26.0    832
4 2020-03-19   West     Women's Clothing    3.0     33

In [9]:
df['Region'].value_counts()

East     411
North    316
South    137
West     136
Name: Region, dtype: int64

In [14]:
df['Type'].value_counts(normalize=True)

Women's Clothing       0.424
Men's Clothing         0.291
Children's Clothing    0.285
Name: Type, dtype: float64

In [15]:
df['Type'].value_counts(normalize=True)*100

Women's Clothing       42.4
Men's Clothing         29.1
Children's Clothing    28.5
Name: Type, dtype: float64

In [13]:
df['Sales'].value_counts(bins=3)

(31.877, 407.0]    539
(407.0, 781.0]     348
(781.0, 1155.0]    113
Name: Sales, dtype: int64