In [12]:
import pandas as pd
df=pd.read_excel('sample_pivot.xlsx')

In [13]:
df.head()

        Date Region                 Type  Units  Sales
0 2020-07-11   East  Children's Clothing   18.0    306
1 2020-09-23  North  Children's Clothing   14.0    448
2 2020-04-02  South     Women's Clothing   17.0    425
3 2020-02-28   East  Children's Clothing   26.0    832
4 2020-03-19   West     Women's Clothing    3.0     33

In [16]:
sales_by_region = pd.pivot_table(df, index = 'Region', values = 'Sales')
print(sales_by_region)

             Sales
Region
East    408.182482
North   438.924051
South   432.956204
West    452.029412

In [15]:
total_by_region = pd.pivot_table(df, index = 'Region', values = 'Sales', aggfunc='sum')
print(total_by_region)

         Sales
Region
East    167763
North   138700
South    59315
West     61476